<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> <html>
<head>
  <META http- equiv="Content-Type" content="text/html; charset=utf-8">
    <title>eldia.com - Diario matutino de la ciudad de La Plata</title>
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    {%block head%}  
    {%endblock%}  
    
    <script type="text/javascript">      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32663760-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body bgcolor="#ffffff" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" width=" {{ '310px' if session['fullversion']==True else'100%' }}" class="pid10533073">
    
    {%block navigation%}  
      {% if session['fullversion']==True %}
        {% set include_buttons = False %}
        {%include "frontend/_header_fullversion.html"%}
        <section id="apertura"></section>
      {% endif %}
    {%endblock %}  
    
    {%block content%}  
    {%endblock%}  
    
    {% if session['fullversion']==True %}
      {%include "frontend/_footer_fullversion.html"%}
    {% endif %}
  </body>
</html>