{% extends "frontend/_base.html"%}  

{%block content%}  
    <header>
      <section class="cabezal">
        <div class="floatFix fondoNav">
          <div id="troncal">
            <span class="techo header">CLASIFICADOS > <b>AUTOMOTORES</b></span>

            <!-- a class="secciones floatFix" title="Clasificados Automotores">CLASIFICADOS > <b>AUTOMOTORES</b></a-->
            <nav class="desplegable" style="top:40px;">
            <div class="floatFix">
              <div class="columnaUno">
                
                <div style="padding-left:7px;">
                  <div class="clasificado_resaltado">
                    <strong>Corsa Super 04, Astra 5p. 07, S-10 d/c, 2.8 4x2 10, Corsa II 5p. 09, Corsa 4p. GLS 09, Autoscar 44 y 142, 479-6001</strong>
                  </div>
                  <hr>
                  <div class="clasificado_resaltado">
                    <strong>Corsa 2005 4 puertas, aire, dirección, GNC, excelente estado, $ 43.000, permutaría, Tel. 15-5559501</strong>
                  </div>
                  <hr>
                  <div class="clasificado_resaltado">
                    <strong>Corsa 96 full, llantas, C, 3 puertas, blanco, excelente, $ 27.900, permutaría, Tel. 15-4639718</strong>
                  </div>
                  <hr>
                  <div class="clasificado_resaltado">
                    <strong>Corsa II 2004 c/GNC aire, dirección, cierre, VTV, titular al día, 156.000 Km. Tel. 15-6162600</strong>
                  </div>
                  <hr>
                  <div class="clasificado_resaltado">
                    <strong>Aveo LS 10, Asra 08, Spark 09, Corsa 98, Corsa Wagon 05 GNC, Ranazzo 44 y 25, 4795600</strong>
                  </div>
                  <hr>
                  
                  <div class="clasificado_resaltado"><strong>!!!!Véalos todos con foto y precio en www.randazzoautomotores.com.ar</strong></div>
                  
                  <hr>Meriva 2012 GL 1.8 AD 3800 Km nueva titular permuto menor Te.456-1300 15-4408284
                  <hr>Meriva GL Plus 04, full, u/mano, excelente estado, facilidades, permuto. 532 e/ 5 y 6
                  
                  <hr>Meriva 07, GL Plus 1.8, 71.000 km., u/mano, Corsa 09, 33.000 km., 1.4/4p. GLS full. 64 Nº 1022 e/15 y 16
                  <hr>Si busca auto puede encontrarlos también www.motoresargentinos.com y por supuesto www.eldia.com 
                  <hr>Corsa 5p. 98, aire/dir. c/gas, Tel. 154117333, ID 616*6769, calle 7 e/33 y 34 Nº 82
                  <hr>!!Corsa City 1.6 2006 69.000 Km alarma GNC CD 3 ptas $ 38.000 15-4114702
                  <hr>!!Meriva GL Plus 2007 nafta full 72.000 Km cuotas 62 Nº 437 423-4649 15-4636000
                  <hr>!!Agile LTZ 1.4 2010 el más full 25.000 Km permuto cuotas 62 Nº 437 423-4649 15-4636000
                  <hr>Buzali Chevrolet 0 Km 2012 toda la línea entrego ya, mejor operación financ. 15 esq.42
                  <hr>Buzali Corsa II GL Plus 2005 full u/m 27.000 Km como 0 Km, Corsa Wagon full 2005 excelente financ. 15 esq.42
                  <hr>Buzali Corsa GLS 2008 full full 4 ptas u/m impecable Meriva GL Plus 2009 u/m excelente perm.financ. 15 esq.42 Te.425-0015
                  <hr>Chevrolet Corsa City 3 puertas 1.4 c/aire 2010 50.000 Km financio con DNI 44 Nº 2133 e/137 y 138 Te.470-5359
                  <hr>Corsa II GL/08 full 4 ptas realmente nuevo imperdible perm.financ 43 y 18 Frezzini Aut 427-3727
                  <hr>Buzali Chev 0 Km Sonic Agile Spirit Celta Meriva Cruze S10 financ 60 ctas perm.15 esq.42
                  <hr>!!!Corsa 2005 3 puertas $ 34.900 al día, permuto, financio Tel. 452-4039, 15-4632347
                  <hr>Suzuki Fun 5 ptas. a/a, d/h 2008, Suzuki Fun 3 ptas. 1.0 2006 vendo, permuto, financio, 16 Nº 180 e/35 y 36, Cel. 156370306 (no sms)
                  <hr>!!!Corsa 2005 3p. a/a, d/h, vendo, permuto, 155940068
                  <hr>Corsa II 5 ptas. 2008 con aire y direcicón, 50.000 Km. 472-2347, Cantilo esq. 15 (City Bell)
                  <hr>!!Corsa Super (4 ptas.) 2010 con aire y dirección 48.000 Km. $ 46.800, 472-2347, Cantilo esq. 15 (City Bell)
                  <hr>Meriva GL Plus única mano full 2008 tit. al día, liquido hoy $ 58.000, Tel. 461-7234, 15-5589042
                  <hr>Corsa Classic 2007, a/a, d/a, gas, impecable, 4 puertas, taller Matías 26 e/ 529 y 530
                  <hr>Meriva GL t.diesel 1.7, full full, "impecable" permuto, financio. 528 y 7, Gastón Automotores, Tel. 427-6943
                  <hr>Automóviles Europa Corsa II 4p TDI/06. Corsa II 4p. TDI/06. Corsa II GL 5p/09/06.- Corsa Wagon/06.- Meriva TD/05.- Cruze LT 4p./11.- Corsa 3p/06.- 49 Nº 391. Tel 482-4122
                  <hr>Corsa 2009 3 ptas 30.000 Km único por su estado permutas F.Doglio Automotores 18 Nº 83 e/33 y 34 423-6246 628*2656<hr>
                </div>
                
              </div>
            </div>
          </nav>
        </div>
      </section>
    </header>
{%endblock %}  