  {% extends "frontend/_base.html"%}  
    
  {%block head%}  
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
      function loadMore(sender){
        var more = $(sender).attr('more_cursor');
        if(jQuery.trim(more).length==0)
          return false;
        var url = $(sender).attr('href') + $(sender).attr('more_cursor');
        $('#loading').show();
        g_currentSearchXHR = jQuery.ajax({
          url: url,
          type: 'get',
          dataType: 'json',
          error: function(jqXHR, textStatus, errorThrown) {
            $('#loading').hide();
            //alert(textStatus + '|' + errorThrown);
            return false;
          },
          success: function(obj) {
            g_currentSearchXHR = null;
            
            $('#informacion').append(obj.html);
            $(sender).attr('more_cursor', obj.more_cursor);
            $('#loading').hide();
            return false;
          }
        });
        return false;
      }
    </script>
  {%endblock head%}  
  
  {%block content%}  
    {% if the_category %}
      <header>
        <section class="cabezal">
          <div class="floatFix fondoNav">
            <div id="troncal">
              <span class="techo header" style="text-transform:upper-case;"><b>{{the_category}}</b></span>
            </div>
          </div>
        </section>
      </header>
    {% endif %}

    <section id="contenedor" class="tamano1">
      <section id="informacion">
        {%include "frontend/_articles.html"%}
      </section>
    </section>
    
    <section id="promoMobiles" style="padding-bottom:48px;">
      <div class="floatFix cajaDispositivos">
        {% if the_category %}
          <a id="more_cursor" class="tipo last" title="Ver más notas" href="{{url_for('frontend/secciones/category', category=the_category_id)+'?more_cursor='}}" more_cursor="{{more_cursor}}" onclick="return loadMore(this);">
        {% else %}
          <a id="more_cursor" class="tipo last" title="Ver más notas" href="{{url_for('frontend/home')+'?more_cursor='}}" more_cursor="{{more_cursor}}" onclick="return loadMore(this);">
          
        {% endif %}
        <center>
            <p style="display:block;">Ver más notas</p> 
            <p id="loading" style="display:none;"><img src="/img/loading.gif" border="0" alt="Cargando Notas" title="Cargando notas"></p>
          </center>
        </a>
        
      </div>
    </section>
    
  {%endblock content%}  