{% extends "frontend/_base.html"%}  
{%block content%}    
    <section id="contenedor" class="tamano1">
      <section id="opinion">
        <span class="techo">Mi DIA</span>
        <a href="#" class="floatFix">
          <img src="/img/perso.png" style="max-width:72px;" alt="Peleados con el mundo" title="Peleados con el mundo">
          <div>
          <h1>Mi perfil</h1>
          <span style="text-decoration:underline;">Nombre</span>
          <span style="text-decoration:underline;">my@email.com</span>
          </div>
        </a>
        <a href="#" class="floatFix">
          <img src="/img/15-tags.png" alt="Cupones" title="Cupones">
          <div>
            <h1>Mis cupones</h1>
            <span style="text-decoration:underline;">20% de descuento en Giúdice</span>
          </div>
        </a>
        <a href="#" class="floatFix">
          <img src="/img/favs.png" alt="Notas a leer" title="Notas a leer">
          <div>
            <h1>Notas para leer</h1>
            <span style="text-decoration:underline;">YPF nacionalizada</span>
            <span style="text-decoration:underline;">River a un paso de ascender</span>
          </div>
        </a>
      </section>
    </section>
{%endblock%}    