<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
  </head>
  <body>

    <div marginwidth="0" marginheight="0" style="">
      <div style="">
        <div style="width:600px;padding:10px">
          <div>
            <span style="font-size:12px"><span style="font-family:verdana,geneva,sans-serif">Bienvenido {{editor}},</span></span>
          </div>
          <div>
          &nbsp;</div>
          <div>
            <span style="font-size:12px"><span style="font-family:verdana,geneva,sans-serif"><strong>Diarios Móviles&copy;</strong> le da la bienvenida.</span></span>
          </div>
          <div>
            <span style="font-size:12px;font-family:verdana,geneva,sans-serif">Un agente se estará comunicando contigo a la brevedad para completar su registro.</span>
          </div>
          <br />
          <div>
            <span style="font-size:12px;font-family:verdana,geneva,sans-serif">¡Muchas gracias por elegir nuestro servicio!</span>
          </div> 
          <br />
          <br/>
          <span style="font-size:12px">
            <span style="font-family:verdana,geneva,sans-serif">
              El equipo de <a href="http://www.diariosmoviles.com.ar" style="color:#000;text-decoration:none;font-weight:bold" target="_blank"><span style="color:#000000;">diarios</span><span style="color:#aaaaaa;">móviles</span></a>&copy;
            </span>
          </span>
          <br/>
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <center>
      <table border="0" cellpadding="20" cellspacing="0" width="100%" style="background:#eeeeee!important;border-top:1px solid #dddddd;clear:both">
        <tbody>
          <tr>
            <td align="center" valign="top" style="padding-bottom:20px;">
              <table border="0" cellpadding="0" cellspacing="0" width="600">
                <tbody>
                  <tr>
                    <td align="center" valign="top">
                      <a style="color:#505050!important;font-family:Verdana,Arial,Sans!important;font-size:11px!important;font-weight:normal!important;text-decoration:underline!important;vertical-align:top!important;text-align:center!important" href="http://www.diariosmoviles.com.ar" target="_blank">www.diariosmoviles.com.ar</a> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>