    <header>
      <section class="cabezal" style="display:none;">
        <div class="fondoLogo floatFix">
          <section class="logo">
            <a href="/" title="eldia.com | Diario matutino de la ciudad de La Plata">
              <img alt="eldia.com | Diario matutino de la ciudad de La Plata" title="eldia.com | Diario matutino de la ciudad de La Plata" src="/img/logo_eldia.png" >
            </a>
          </section>
        </div>
        <div class="floatFix fondoNav">
          <div id="troncal" onclick="$('nav.desplegable').toggleClass('ocultar'); $('a.secciones').toggleClass('seccionesClick');"><a class="secciones floatFix" href="javascript:void(0);" title="Secciones"><b>SECCIONES</b></a><nav class="desplegable ocultar"><div class="floatFix">
                <div class="columnaUno"><a href="politica.html" onclick="_gaq.push(['_trackEvent','troncal-informacion','politica','cabezal']);">POLÍTICA</a><a href="economia.html" onclick="_gaq.push(['_trackEvent','troncal-informacion','economia','cabezal']);">ECONOMÍA</a><a href="sociedad.html" onclick="_gaq.push(['_trackEvent','troncal-informacion','sociedad','cabezal']);">SOCIEDAD</a><a href="seguridad.html" onclick="_gaq.push(['_trackEvent','troncal-informacion','seguridad','cabezal']);">SEGURIDAD</a><a href="ciudadhtml.html" onclick="_gaq.push(['_trackEvent','troncal-informacion','ciudad','cabezal']);">CIUDAD</a></div>
                <div class="columnaDos"><a href="exterior.html" onclick="_gaq.push(['_trackEvent','troncal-informacion','exterior','cabezal']);">EXTERIOR</a><a href="opinion.html" onclick="_gaq.push(['_trackEvent','troncal-informacion','opinion','cabezal']);">OPINION</a><a href="http://canchallena.lanacion.com.ar/" onclick="_gaq.push(['_trackEvent','troncal-interesa','deportes','cabezal']);">DEPORTES</a><a href="espectaculos.html" onclick="_gaq.push(['_trackEvent','troncal-interesa','espectaculos','cabezal']);">ESPECTÁCULOS</a><a href="tecnologia.html" onclick="_gaq.push(['_trackEvent','troncal-interesa','tecnologia','cabezal']);">TECNOLOGÍA</a></div>
              </div>
              <div class="floatFix servicios"><span>SERVICIOS</span><div class="columnaUno"><a href="http://servicios.lanacion.com.ar/m1/horoscopo/listado" onclick="_gaq.push(['_trackEvent','troncal-servicios','horoscopo','cabezal']);">HORÓSCOPO</a><a href="http://servicios.lanacion.com.ar/m1/informacion-general/pronostico/ciudad/cboCiudades=ARCF0009" onclick="_gaq.push(['_trackEvent','troncal-servicios','pronostico','cabezal']);">PRONÓSTICO</a></div>
                <div class="columnaDos"><a href="humor.html" onclick="_gaq.push(['_trackEvent','troncal-servicios','humor','cabezal']);">HUMOR</a></div>
              </div></nav></div><aside class="transito floatFix"> </aside>
        </div>
      </section>
    </header>