<!DOCTYPE html>
<html lang="en">

<head>
	<title>Diarios Móviles</title>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
  <meta name="description" content="En DiariosMóviles creamos la aplicación de su diario para las plataformas iPhone, Android, Blackberry y Nokia." />
  
  <meta name="keywords" content="diario, noticia, aplicación, nativa, iPhone, Android, BlackBerry, Nokia, diarios , moviles, mobile, plataforma, comscore, e-planning" />
    

    
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/mvp_1/stylesheets/base.css" />

	<link rel="stylesheet" type="text/css" href="/mvp_1/stylesheets/media.queries.css" />
	<link rel="stylesheet" type="text/css" href="/mvp_1/stylesheets/tipsy.css" />
	<link rel="stylesheet" type="text/css" href="/mvp_1/javascripts/fancybox/jquery.fancybox-1.3.4.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Quicksand:400,700,300">
	
	<!-- Javascripts -->
	<script type="text/javascript" src="/mvp_1/javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/html5shiv.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/jquery.tipsy.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/fancybox/jquery.easing-1.3.pack.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/jquery.touchSwipe.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/jquery.mobilemenu.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/jquery.infieldlabel.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/jquery.echoslider.js"></script>
	<script type="text/javascript" src="/mvp_1/javascripts/fluidapp.js"></script>
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="/mvp_1/images/favicon.png" />
	<link rel="apple-touch-icon" href="/mvp_1/images/apple-touch-icon.html">
	<link rel="apple-touch-icon" sizes="72x72" href="/mvp_1/images/apple-touch-icon-72x72.html">
	<link rel="apple-touch-icon" sizes="114x114" href="/mvp_1/images/apple-touch-icon-114x114.html">
	<script type="text/javascript">
    var go_to = 'home';
    {% if flash %}
      go_to = 'contacto';
    {% endif %}
    
    {% if go_to %}
      go_to = '{{ go_to }}';
    {% endif %} 
  </script>
  <script type="text/javascript">      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32663760-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
	<!-- Start Wrapper -->
	<div id="page_wrapper">
		
	<!-- Start Header -->
    <header>
      <div class="container">
        <!-- Start Social Icons -->
        <aside>
          <ul class="social">
            <!-- li class="facebook"><a href="#">Facebook</a></li -->
            <!-- li class="twitter"><a href="http://twitter.com/two2twelve">Twitter</a></li -->
            <li class="email"><a href="mailto:info@diariosmoviles.com.ar" title="info@diariosmoviles.com.ar">Email</a></li>
            <!-- li class="rss"><a href="#" title="App Updates">RSS</a></li-->
            <!-- More Social Icons:
            <li class="dribbble"><a href="">Dribbble</a></li>
            <li class="google"><a href="">Google</a></li>
            <li class="flickr"><a href="">Flickr</a></li>
            -->
          </ul>
        </aside>
        <!-- End Social Icons -->
        
        <!-- Start Navigation -->
        <nav>
          <ul>
            <li><a href="/" class="home_alink">Inicio</a></li>
            <li><a href="/que_hacemos" title="¿Qué es DiariosMóviles&copy;?">¿Qué es DiariosMóviles&copy;?</a></li>
            <!-- li><a href="#updates" title="Características del servicio">Características</a></li -->
            <li><a href="/diarios">Diarios</a></li>
            <li><a href="/faq" title="Preguntas frecuentes, precios">FAQ</a></li>
            <li><a href="/contacto">Contacto</a></li>

            <!-- li><a href="/faq2" title="Preguntas frecuentes, precios">FAQ2</a></li -->
            <!-- li><a href="/updates_original">updates_original</a></li -->
            
            <!--li><a href="#screenshots">Pantallas</a></li-->
            <!--li><a href="#press">Press</a></li-->
            <!-- li><a href="#styles_original">Styles</a></li -->
          </ul>
          <span class="arrow"></span>
        </nav>
        <!-- End Navigation -->
      </div>
    </header>
    <!-- End Header -->
	
    <div class="container_wrapper">
      <section class="container">
        <!-- Start App Info -->
        <div id="app_info">
          <!-- Start Logo -->
          <a href="#home" class="logo">
            <img src="/mvp_1/images/logi.png" alt="Fluid App" style="height:90px;width:auto;"/> <!-- light-logo.png -->
          </a>
          <!-- End Logo -->
          <span class="tagline" style="display:none;">Edición para smartphones</span>
          <span class="tagline">Su diario en todos los smartphones</span>
          <p>
            Ahora puede estar más cerca de sus lectores. 
            <br /><b>DiariosMóviles</b>&copy; le permite ofrecer la edición de su diario para <b>smartphones</b>. 
          </p>
          <center>
              <img src="/mvp_1/images/cell_brands2.png" title="iOS, Android, Blackberry y (pronto) WindowsPhone" />
            </center>
          </div>
        <!-- End App Info -->		
        
        <!-- Start Pages -->
        <div id="pages">
          <div class="top_shadow"></div>
          
                
          {% block content %}
          {% endblock %}
          

          <div class="bottom_shadow"></div>
        </div>
        <!-- End Pages -->
        
        <div class="clear"></div>
      </section>
    
      <!-- Start Footer -->
      <footer class="container">
        <p>DiariosMóviles &copy; 2014.
          <a href="mailto:info@diariosmoviles.com.ar">info@diariosmoviles.com.ar</a>
        </p> <br/>
        <p>Partner de <a href="http://www.adira.org.ar" target="_blank" title="ADIRA"><img src="/mvp_1/images/adira_assets/adira2.png" style="height:15px; width:auto;vertical-align:middle;" alt="ADIRA" title="ADIRA" /></a> Asociación de Diarios del Interior de la República Argentina.</p>
      </footer>
      <!-- End Footer -->
    </div>
	
  </div>
	<!-- End Wrapper -->
	<!-- div class="resize"></div -->
</body>


</html>