{% extends "mvp_1/_index.html"%}  

{% block content %}
  <!-- Start Start Contact -->
  <div id="contacto" class="page">  
    <h1>Contacto</h1>
    <div class="contact content_box">
      
      
      <p>Por favor complete el formulario para que lo contacte un integrante del equipo.</p>
      
      <div id="contact_form">
        {% include "mvp_1/_contact_form.html" %}
      </div>
      <p> También puede escribirnos a <a href="mailto:info@diariosmoviles.com.ar" title="info@diariosmoviles.com.ar">info@diariosmoviles.com.ar</a>.</p>
    </div>
  </div>
  <!-- End Start Contact -->
{% endblock %}