{% extends "mvp_1/_index.html"%}  

{% block content %}

  <!-- Start Team -->
  <div id="diarios" class="page" style="min-height: 555px;">
    
    <h1>Diarios</h1>
    <div class="about_us content_box">
      <div>
        <p>Le presentamos los diarios y periódicos que ya están ofreciendo sus aplicaciones móviles a sus lectores.</p>
      </div>
    </div>
    
    <div class="team_members">
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/eldia.png" alt="" />
        <h3>El Día</h3>
        <span>La Plata, Argentina</span>
        <a href="http://www.eldia.com.ar" target="_blank">http://www.eldia.com.ar</a>
        <ul class="apps">
          <!--li style="line-height:34px;color:#898989;">Descargas: </li-->
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.eldia" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/gb/app/el-dia/id578331790?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry">
            <a id="download_eldia_blackberry" title="BlackBerry" href="http://www.vaskit.com/ota/eldia/eldia.jad" target="_blank">BlackBerry</a>
            <!-- a id="download_eldia_blackberry" title="BlackBerry" href="/apps/eldia/eldia.jad" target="_blank">BlackBerry</a -->
          </li>
        </ul>
      </div>
      
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/ecosdiarios.png" style="width:90px;height:90px;" alt="" />
        <h3>Ecos Diarios</h3>
        <span>Necochea, Argentina</span>
        <a href="http://www.ecosdiariosweb.com.ar" target="_blank">http://www.ecosdiarios.com</a>
        <ul class="apps">
          <!--li style="line-height:34px;color:#898989;">Descargas: </li-->
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.ecosdiarios2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/ecosdiarios/id698229626?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_ecosdiarios_blackberry" title="Pronto" href="#" target="_blank">BlackBerry</a>
          </li>
        </ul>
      </div>
      
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/pregon.png" style="width:90px;height:90px;" alt="" />
        <h3>Pregón</h3>
        <span>Jujuy, Argentina</span>
        <a href="http://www.pregon.com.ar" target="_blank">http://www.pregon.com.ar</a>
        <ul class="apps">
          <!--li style="line-height:34px;color:#898989;">Descargas: </li-->
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.pregon2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/diario-pregon/id698226193?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>
      
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/castellanos.png" style="width:90px;height:90px;" alt="" />
        <h3>Castellanos</h3>
        <span>Rafaela, Argentina</span>
        <a href="http://www.diariocastellanos.net" target="_blank">http://www.diariocastellanos.net</a>
        <ul class="apps">
          <!--li style="line-height:34px;color:#898989;">Descargas: </li-->
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.castellanos2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/diario-castellanos/id692944482?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>

      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/lareforma.png" style="width:90px;height:90px;" alt="" />
        <h3>La Reforma</h3>
        <span>La Pampa, Argentina</span>
        <a href="http://www.diariolareforma.com.ar" target="_blank">http://www.diariolareforma.com.ar</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.lareforma2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/gb/app/la-reforma/id728636386?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>

      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/elnorte.png" style="width:90px;height:90px;" alt="" />
        <h3>El Norte</h3>
        <span>San Nicolás, Argentina</span>
        <a href="http://www.diarioelnorte.com.ar/" target="_blank">http://www.diarioelnorte.com.ar</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.elnorte2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/id739078294?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>
      
      <div class="person one_half column_last">
      </div>
      
    </div>
    
  </div>
  <!-- End Team -->
{% endblock %}