{% extends "mvp_1/_index.html"%}  

{% block content %}

  <!-- Start Updates -->
  <div id="faq" class="page current">
    
    <h1>FAQ</h1>
    
    <div class="releases">
      <div class="full">
          <h2><a href="#que_es_diarios_moviles">1. ¿Qué es Diarios Móviles?</a></h2>
          <h2><a href="#requerimientos">2. ¿Cuáles son los requerimientos para contar con el servicio?</a></h2>
          <h2><a href="#como_funciona">3. ¿Cómo funciona?</a></h2>
          <h2><a href="#admob">4. ¿Qué es AdMob y cómo genero ingresos?</a></h2>
          <h2><a href="#configurar_admob">5. ¿Cómo configuro AdMob?</a></h2>
          <!--h2><a href="#analytics">6. ¿Qué es Google Analytics y para qué sirve?</a></h2>
          <h2><a href="#configurar_analytics">7. ¿Cómo configuro Google Analytics?</a></h2 -->
          <h2><a href="#precios">6. Precios</a></h2>
          
      </div>      

      <article class="release" id="que_es_diarios_moviles">
        <h2>¿Qué es Diarios Móviles?</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p><b>DiariosMóviles©</b> crea la aplicación de su diario para las plataformas iPhone, Android, Blackberry y WindowsPhone, en las versiones smartphone y tablet. </p>
        <br/>
        <p>De esta manera sus lectores tienen una experiencia rica en la lectura de su diario desde sus dispositivos móviles y Usted aprovecha este nuevo canal para generar ingresos. </p>
        <br/>
        <ul>
          <li class="fix"><span><b>iOS</b></span>&nbsp;</li>
          <li class="fix"><span><b>Android</b></span>&nbsp;</li>
          <li class="fix"><span><b>Blackberry</b></span>&nbsp;</li>
          <li class="fix"><span><b>Web</b></span>&nbsp;</li>
          <li class="new"><span><b>Windows Phone</b></span> ¡Pronto!</li>
        </ul>
        
      </article>
      
      <article class="release" id="requerimientos">
        <h2>¿Cuáles son los requerimientos para contar con el servicio?</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p>No hay requerimientos. La propuesta es sencilla: tenga una aplicación móvil nativa para cada plataforma sin fricción.</p>
        <br/>
        <p>El servicio no implica contratación de personal por parte del diario, ni tampoco involucra a personal de IT o sistemas.</p>
        <br/>
        <p>Con <b>DiariosMóviles©</b> usted no necesita invertir dinero  y tiempo en desarrollar una aplicación, usted paga una cuota mensual por uso y nosotros aseguramos mejoras y nuevos features.</p> 
        <ul>
          <li class="fix"><span><b>Indexación</b></span> <b>DiariosMóviles©</b> accede a su diario por internet e indexa todo el contenido.</li>
          <li class="fix"><span><b>Su diario App</b></span> Las aplicaciones consumen esta información alocada en nuestros servidores y despliega contenido apto para móviles.</li>
          <li class="fix"><span><b>Publicidad</b></span> Usted obtiene ingresos por publicidad en internet AdMob, ComScore o la que utilice.</li>
          <li class="fix"><span><b>Analytics</b></span> Usted conoce en todo momento el uso que sus lectores le dan a su aplicación.</li>
        </ul>
      </article>
      
      <article class="release" id="como_funciona">
        <h2>¿Cómo funciona?</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p><b>DiariosMóviles©</b> se nutre de las noticias, clasificados y publicidad de la web de su diario, sin requerir nuevos desarrollos o inversiones en tecnología.
        </p>
        <br/>
        <p>
        Nosotros nos encargamos de publicar las aplicaciones en las tiendas para iPhone, Android y Blackberry.</p>
        <br/>
      </article>

      <article class="release" id="admob">
        <h2>¿Qué es AdMob y cómo genero ingresos?</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p><a href="http://www.google.es/ads/admob/" target="_blank">AdMob</a> es la red de publicidad de Google para dispositivos móviles. Es el <a href="http://adsense.google.com" target="_blank">AdSense</a> de tablets y smartphones.</p>
        <p>De la misma manera que Usted rentabiliza el portal web de su diario con <a href="http://adsense.google.com" target="_blank">AdSense</a>, con <a href="http://www.google.es/ads/admob/" target="_blank">AdMob</a> para dispositivos móviles usted rentabiliza la aplicación que <b>DiariosMóviles©</b> le ofrece.</p>
        <p>La publicidad de los anunciantes de Google se muestra en la aplicación y los usuarios hacen clic en los anuncios que más les gustan.</p>
        <p>Obtendrá ingresos cada vez que los usuarios hagan clic en los anuncios de la aplicación. Puede realizar un seguimiento de sus ingresos mediante los informes de <a href="http://www.google.es/ads/admob/" target="_blank">AdMob</a>.</p>
        <br/>
        <p><b>DiariosMóviles©</b> también le permite rentabilizar su aplicación con el sistema de publicidad su preferencia, como <a href="http://www.e-planning.net/es/" target="_blank">ePlanning</a> o si posee un sistema hecho a su medida, podrá utilizar sus banners privados.</p>
        <br/>
      </article>

      <article class="release" id="configurar_admob">
        <h2> ¿Cómo configuro AdMob?</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p><b>1.</b>&nbsp;Ingrese a <a href="http://www.google.es/ads/admob/" target="_blank">AdMob</a>. Si no posee cuenta de correo de Gmail, deberá crear una registrándose.
        </p>
          <a href="/mvp_1/images/admob/AdMob_1.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_1.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        
        
        <br/>
        <p><b>2.&nbsp;</b>Una vez iniciada la sesión en AdMob, debes hacer clic en el botón <b>Monetizar nueva Aplicación</b> (<i>Monetize new app</i>).
        </p>
        <a href="/mvp_1/images/admob/AdMob_2_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_2_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        

        <br/>
        <p><b>3.&nbsp;</b>En esta pantalla de búsqueda deberá localizar su aplicación publicada en iTunes. 
          <br>Su aplicación puede ser ubicada en la <a href="/diarios">sección diarios</a>.
        </p>
        <a href="/mvp_1/images/admob/AdMob_3_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_3_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        

        <br/>
        <p><b>4.&nbsp;</b>En el ejemplo se muestra la búsqueda de la aplicación del diario <b>El Norte de San Nicolás</b>. En el resultado de la búsqueda podemos ver el ítem que representa la aplicación del diario en la tienda de Apple iTunes, para el sistema operativo iOS. En otros casos puede aparecer un listado con más cantidad de ítems, pertenecientes a aplicaciones de iTunes y GooglePlay. Usted debe elegir la aplicación de su diario.
        </p>
        <a href="/mvp_1/images/admob/AdMob_4_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_4_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        

        <br/>
        <p><b>5.&nbsp;</b>Ubique la aplicación de su diario y haga clic en <b>Monetizar</b> (<i>Monetize</i>). Recordamos que en este paso elegimos la aplicación del diario que está publicada en iTunes.
        </p>
        <a href="/mvp_1/images/admob/AdMob_4_5_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_4_5_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        
        <br/>
        <p><b>6.&nbsp;</b>En esta pantalla usted dejará los campos como lo indica la imagen, es decir formato <b>banner</b>, <b>refresh rate</b> de <b>60 segundos</b> y ad-style <b>standard</b>. <br/>
          Indique <i>banner_ios</i> para la aplicación publicada en la tienda iTunes. <br>
          Luego haga clic en <b>Guardar</b> (<i>Save</i>).
        </p>
        <a href="/mvp_1/images/admob/AdMob_5_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_5_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        

        <br/>
        <p><b>7.&nbsp;</b>La siguiente pantalla le muestra la información del código AdMob generado.
          <br>
          Usted lo compartirá con <b>DiariosMóviles©</b> para que lo incluyamos en la aplicación de su diario.
          <br> Haga clic en <b>Crear correo con estas instrucciones</b> (<i>Compose an email with these instructions</i>).
        </p>
        <a href="/mvp_1/images/admob/AdMob_6_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_6_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        

        <p>
          Indique la casilla de correos <b>admob@diariosmoviles.com.ar</b> para que podamos utilizar el código AdMob que acaba de generar.
          <br>Indíquenos el nombre de su diario y la plataforma a la que pertence el código (GooglePlay o iTunes).
        </p>
        <a href="/mvp_1/images/admob/AdMob_7_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_7_a.png" style="height: 276px;width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        
        
        <br/>
        <p><b>8.&nbsp;</b>Luego de compartir las instrucciones enviando el correo a <b>admob@diariosmoviles.com.ar</b> la ventana emergente se cerrará, y hará clic en <b>Done</b>. Así comprobará que ha creado un código para su aplicación. 
          <br>A continuación creará un código para la aplicación Android publicada en la tienda GooglePlay como se indica en la siguiente imagen.
        </p>
        <a href="/mvp_1/images/admob/AdMob_8_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_8_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        <br/>
        
        <p><b>9.&nbsp;</b>Luego de hacer clic en <b>Monetizar nueva aplicación</b> (<i>Monetize new app</i>), usted buscará la aplicación de su diario que corresponde a la platafroma Android (GooglePlay). Ingrese el nombre de su diario y ubique la aplicación. 
          <br/>Una vez ubicada, haga clic en <b>Monetizar</b> (<i>Monetize</i>).
        </p>
        <a href="/mvp_1/images/admob/AdMob_9_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_9_a.png" style="width:auto;height:276px!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        <br/>

        <p><b>10.&nbsp;</b>Configure las características en pantalla como se indicó en el paso 7, modificando en este caso el nombre del banner.
        </p>
        <br/>
        <a href="/mvp_1/images/admob/AdMob_10_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_10_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        <p>Recuerde compartir las instrucciones a <b>admob@diariosmoviles.com.ar</b>.
        </p>
        <br/>

        <p><b>11.&nbsp;</b>Ahora su cuenta AdMob esta configurada con 2 aplicaciones como lo muestra la siguiente figura: una para iOS y la otra para GooglePlay.
        </p>
        <a href="/mvp_1/images/admob/AdMob_10_a.png" rel="screenshots" style="width:inherit!important;margin:10px 0px 10px 0px;" class="fancybox" title=""><img src="/mvp_1/images/admob/AdMob_10_a.png" style="width:inherit!important;margin:10px 0px 10px 0px!important;" alt="" /></a>
        <p><b>Fin!</b></p>
        <br/>

        
      </article>

      <!--article class="release" id="analytics">
        <h2>¿Qué es Google Analytics y para qué sirve?</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p>.</p>
        <br/>
      </article>
      
      <article class="release" id="configurar_analytics">
        <h2> ¿Cómo configuro Analytics?</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p>.</p>
        <br/>
      </article -->

      <article class="release" id="precios">
        <h2>Precios</h2>
        <span class="date"></span>
        <div class="clear"></div>
        <p>El precio se determina en función de la tirada diaria de su diario provista por el <a href="http://www.ivc.org.ar/" target="_blank">IVC</a>. </p>
        <ul>
          <li class="pdf_header_fake pdf_stylish pdf_bottom_hr"><b>Cantidad de Ejemplares por día</b> <span class="pdf_stylish" style="float:right; padding-right:10px;">Precio</span></li>
          <li class="new pdf_stylish pdf_bottom_hr">0 a 1000 ejemplares por día <span style="float:right;"><b>$562.5</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">1001 a 5000 ejemplares por día <span style="float:right;"><b>$1062.5</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">5001 a 10000 ejemplares por día <span style="float:right;"><b>$1750</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">10001 a 20000 ejemplares por día <span style="float:right;"><b>$2625</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">20001 a 40000 ejemplares por día <span style="float:right;"><b>$3625</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">40001 a 99999 ejemplares por día <span style="float:right;"><b>$4875</b></span> </li>

          </ul>
        <p>El asociado de ADIRA goza de un descuento del 20% del precio de lista.  <br>
          Se invita al asociado a probar el servicio por <b>dos meses sin cargo</b>.</p>

      </article>

    </div>
    
  </div>
  <!-- End Updates -->
{% endblock %}  