{% extends "mvp_1/_index.html"%}  

{% block content %}

<!-- Start Home -->
  <div id="home" class="page">
    
    <div id="slider">

      <div class="slide" data-effect-out="slide" data-title="iPhone">
        
        <div class="background iphone-black">
          <img src="/mvp_1/images/slider/iphone-back.jpg" alt="iPhone" title="iPhone" />
        </div>
        
        <div class="foreground iphone-black">
          <img src="/mvp_1/images/slider/iphone-front.jpg" alt="iPhone" title="iPhone" />
        </div>
        
      </div>
      
      <!-- div class="slide" data-effect-in="slide">
        
        <div class="background iphone-white">
          <img src="/mvp_1/images/slider/iphone-back.jpg" alt="" />
        </div>
        
        <div class="foreground iphone-white">
          <iframe src="http://player.vimeo.com/video/40738306?title=0&amp;byline=0&amp;portrait=0" width="230" height="345" frameborder="0"></iframe>
        </div>
        
      </div -->
    
      <div class="slide" data-title="Blackberry">
        
        <div class="background blackberry">
          <img src="/mvp_1/images/slider/blackberry-back.jpg" alt="Blackberry" title="Blackberry" />
        </div>
        
        <div class="foreground blackberry">
          <img src="/mvp_1/images/slider/blackberry-front.jpg" alt="Blackberry" title="Blackberry" />
        </div>
        
      </div>
      
      <div class="slide" data-title="Android">
        
        <div class="background android">
          <img src="/mvp_1/images/slider/android-back.jpg" alt="Android" title="Android" />
        </div>
        
        <div class="foreground android">
          <img src="/mvp_1/images/slider/android-front.jpg" alt="Android" title="Android" />
        </div>
        
      </div>
      
      <!--div class="slide">
        
        <div class="background ipad-white">
          <iframe src="http://player.vimeo.com/video/40603475?title=0&amp;byline=0&amp;portrait=0" width="352" height="468" frameborder="0"></iframe>
        </div>
                    
      </div-->

      <!--div class="slide">
        
        <div class="background ipad-black">
          <img src="/mvp_1/images/slider/ipad.jpg" alt="" />
        </div>
                    
      </div-->
      
    </div>
  
  </div>
  <!-- End Home -->
 {% endblock %}