{% extends "mvp_1/_index.html"%}  

{% block content %}

  <!-- Start Features -->
  <div id="que_hacemos" class="page">
    
    <div class="about_us content_box">
      <div class="one_half">
        <!-- h2>¿Qué es <b>DiariosMóviles</b>&copy;?</h2 -->
        <p>
          En <b>DiariosMóviles</b>&copy; creamos la aplicación de su diario para las plataformas iPhone, Android y Blackberry.
          <br/><br/>
          De esta manera puede ofrecerles a sus lectores una experiencia más rica con el uso de aplicaciones nativas y servicios personalizados. <br />
          También puede aprovechar las funcionalidades de los smartphones y generar nuevos canales de ingresos.
          <br/><br/>
          No requiere que realice ninguna modificación en su portal digital.
        </p>
      </div>

      <div class="one_half column_last">
        <center>
          <img src="/mvp_1/images/mobile_man.jpg" style="padding-top:40px;max-width:240px;max-height:240px;" alt="Su diario en smartphones" title="Su diario en smartphones" />
        </center>
      </div>
    </div>
    
    <h2>¿Por qué en smartphones?</h2>
    <!--h2>Simple, pero poderoso</h2-->
    <!--div class="one_half">
      <p>Los smartphones se han convertido en una parte indispensable de nuestra vida cotidiana. 
        <br/>La penetración de Smartphones en Argentina está en torno al 24% de la población y los propietarios de teléfonos inteligentes están cada vez más dependientes sus dispositivos. 
        <br/>El 71% accede a Internet todos los días en su teléfono inteligente y la mayoría nunca sale de casa sin él. 
        <br/><b>Aquéllos que hagan del móvil una parte central de su estrategia</b> se beneficiarán del nuevo consumidor constantemente conectado.
    </p>
    </div>
    
    <div class="one_half column_last">
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </div-->
    
    <div class="feature_list content_box">
      <div class="one_half">
        <h2 class="icon chart">El smartphone es útil</h2>
        <p>Los smartphones se han convertido en una parte indispensable de nuestra vida cotidiana. 
        <br/><b>La penetración de Smartphones en Argentina está en torno al 24% de la población</b> y los propietarios de teléfonos inteligentes están cada vez más dependientes de sus dispositivos. 
        <br/>El <b>71% accede a Internet todos los días en su teléfono inteligente</b> y la mayoría nunca sale de casa sin él. 
        <br/>Aquéllos que hagan del <b>móvil</b> una parte central de su <b>estrategia de negocios se beneficiarán</b> del nuevo consumidor constantemente conectado.</p>
      </div>

      <div class="one_half column_last">
        <h2 class="icon world">Es un canal de descubrimiento</h2>
        <p>Los smartphones ayudan a los usuarios a navegar por el mundo. Aparecer en los teléfonos inteligentes es fundamental para las empresas locales: 
          &nbsp;<b>el 85% de los usuarios de teléfonos inteligentes buscan información local en su teléfono</b> y <b>el 89% continúa con una acción al obtener un resultado</b>, como <b>hacer una compra o ponerse en contacto con el negocio</b>. 
        <br />La potenciación de los servicios basados ​​en la localización en el móvil facilitan a los consumidores conectarse directamente con las empresas.</p>
      </div>

      <div class="one_half">
        <h2 class="icon people">Ha cambiado nuestro comportamiento</h2>
        <p>Los teléfonos inteligentes han transformado el comportamiento del usuario. 
        <br/>
          La búsqueda desde el smartphone, el video, el uso de aplicaciones y las redes sociales son prolíficos. 
          <br/>Los usuarios de smartphones son multitarea: <b>un 83% utiliza su smartphone mientras</b> hace otras cosas como ver la televisión (37%) o <b>leer noticias en diarios y revistas (27%)</b>.<br/> 
          Extender las estrategias de publicidad para incluir móviles junto a medios convencionales (TV, diario en papel) permite llegar más eficazmente a los consumidores de hoy.</p>
        </div>

      <div class="one_half column_last">
        <h2 class="icon cart2">... y nuestro modo de consumo</h2>
        <p>Los teléfonos inteligentes han cambiado la forma de comprar de los consumidores.
            <br/>Los <b>teléfonos inteligentes son usados por un 82% de los usuarios</b> como herramientas de <b><i>investigación</i></b> previa a la compra de un producto o servicio. 
            <br/>Estas investigaciones en los smartphones influencian las decisiones del comprador: <b>el 25% de los usuarios de teléfonos inteligentes ha hecho al menos una compra desde su teléfono</b>. 
            <br/> Tener un sitio móvil es el standard, una <b>aplicación móvil optimizada</b> es crítico y es una estrategia para atraer consumidores y <b>lectores</b>.</p>
      </div>

      <div class="two_halfs column_last">
        <h2 class="icon adver">Acerca anunciantes y consumidores</h2>
        <p>Ayuda a los anunciantes a ponerse en contacto con los consumidores. 
        <br /> Los <b>anuncios para móviles son percibidos por el 86% de los usuarios</b> de smartphones. 
          <br />Los teléfonos inteligentes son también un <b>componente crítico de la publicidad tradicional</b> ya que el <b>76% ha realizado una búsqueda</b> en sus teléfonos inteligentes <b>después de ver un anuncio convencional</b> (no web ni mobile). 
          <br />Hacer anuncios para móviles forma parte de una <b>estrategia de marketing</b> integrado que puede conducir a un mayor acercamiento a los consumidores.</p>
      </div>
      
      <!--
      <div class="one_half column_last">
        
        <h2 class="icon help">Help &amp; Support</h2>
        <p>Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Nullam id dolor. Nulla vitae elit libero, a pharetra augue. Nullam quis</p>
      </div>
      -->
    </div>
    
  </div>
  <!-- End Features -->   
{% endblock %}