<!-- Start Updates -->
  
  <div id="updates_original" class="page">
    
    <div id="app_info" style="position:relative!important;width:525px!important;">
      <center>
        <a href="#home" class="logo">
          <img src="/mvp_1/images/logi.png" alt="Fluid App" style="height:90px;width:auto;"/> 
        </a>
        <span class="tagline" style="text-align:center;">Su diario en todos los smartphones</span>
      </center>
      <p>
        Ahora puede estar más cerca de sus lectores. 
        <br /><b>DiariosMóviles</b>&copy; le permite ofrecer la edición de su diario para <b>smartphones</b>. 
      </p>
      
      <center>
        <img src="/mvp_1/images/cell_brands.png" alt="" />
      </center>
      <br/> <br/>
      <br/> <br/>
    </div>
    
    
    <div class="feature_list content_box" style="position:relative;">
      <div class="two_halfs">
        <p>
          <b>DiariosMóviles</b>&copy; es la edición móvil de diarios y periódicos. <br/>
          Los lectores podrán utilizar una aplicación nativa para 
          smartphones, en sus versiones iPhone/iPod/iPad, Android 
          teléfono y tableta, y BlackBerry. <br/>
          La aplicación se descarga desde las tiendas de aplicaciones 
          según proveedor (Android, Apple y BlackBerry). Esta descarga 
          puede ser gratuita o paga. <br/>
          La aplicación, en todas sus versiones, despliega contenidos 
          generados únicamente por el Diario. 
        </p>
        <br/>
        <br/>
        <h2 class="icon adira caract">CARACTERÍSTICAS DE LA APLICACIÓN</h2>
        
          <p># Listado principal de noticias.</p>
          <p># Listado de noticias por sección. </p>
          <p># Listado de suplementos. </p>
          <p># Servicios clasificados. </p>
          <p># Servicios fúnebres. </p>
          <p># Servicios de información (cartelera de cine y turnos de 
          farmacias). </p>
          <p># Multimedia: </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Acceso al canal de YouTube del Diario. </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Acceso a las galerías de fotos del diario. </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Acceso a archivos de audio del diario. </p>
          <p># Redes Sociales: Compartir noticias, fotos y videos a través de 
          Facebook, Twitter, GooglePlus y correo electrónico.</p>
          <p># Publicidad: ePlanning o propietario. </p>
          <p># Medición: Comscore o GoogleAnalytics. </p>
        
        <br/>
        <h2 class="icon adira mejoras">PLAN DE MEJORAS INMEDIATO</h2>
        <p>
          Aplicación para dispositivos Nokia y Windows 8, Periodismo 
          ciudadano(envío de fotos y texto a través de la aplicación,a un email) y SocialReaderspara Facebook.
        </p>
        
        <br/>
        <h2 class="icon adira cloud">PUBLICACIÓN EN LAS TIENDAS</h2>
        <p>El Diario puede optar publicar por sí la aplicaciónen los mercados 
            Android Market, AppWorld de BlackBerryy AppStore de Apple, o 
            permitir que DiariosMóviles publique la aplicación en nombre del 
            Diario. En este caso no se requiere ninguna acción por parte del 
            Diario.</p>
        
        <br/>
        <h2 class="icon adira right">DERECHOS DE EXPLOTACIÓN </h2>
        <p>El Diario es dueño de los derechos de explotación de la 
        aplicación, es el único beneficiario de todo lucro comercial por 
        posibles futuras ventas de la aplicación en los mercados de 
        aplicaciones, por explotación de contenidos dentro de la 
        aplicación y por explotación de espacios de publicidad dentro de 
        la aplicación. </p>
          
        <br/>
        <h2 class="icon adira price">TARIFAS</h2>
        <p>El Diario se suscribirse a un servicio mensual que brinda 
        actualizaciones periódicas, mantenimiento y mejoras, y no 
        implica contratación de personal por parte del diario.
        El Diario puede oficiar de servidor de datos de lasaplicaciones sin 
        costo, o contratar el servicio de DiariosMóviles. </p>
        
        <article class="release" style="border:none!important;">
        <span class="date">Válidos a partir de 1 de enero de 2014</span>
        <ul>
          <li class="pdf_header_fake pdf_stylish pdf_bottom_hr"><b>Cantidad de Ejemplares por día</b> <span class="pdf_stylish" style="float:right; padding-right:10px;">Precio</span></li>
          <li class="new pdf_stylish pdf_bottom_hr">0 a 1000 ejemplares por día <span style="float:right;"><b>$450</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">1001 a 5000 ejemplares por día <span style="float:right;"><b>$850</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">5001 a 10000 ejemplares por día <span style="float:right;"><b>$1400</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">10001 a 20000 ejemplares por día <span style="float:right;"><b>$2100</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">20001 a 40000 ejemplares por día <span style="float:right;"><b>$2900</b></span> </li>
          <li class="new pdf_stylish pdf_bottom_hr">40001 a 99999 ejemplares por día <span style="float:right;"><b>$3900</b></span> </li>

          </ul>
      </article>
        <p>El asociado goza de un descuento del 20% del precio de lista.  <br>
          Se invita al asociado a probar el servicio por <b>dos meses sin cargo</b>. <br>
          En caso de continuar con el servicio el asociado <b>no abonará costo de instalación</b>.</p>
      
    

        <br/>
        <h2 class="icon adira newspaperico">DIARIOS UTILIZANDO EL SERVICIO </h2>
        
      <div class="team_members">
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/eldia.png" alt="" />
        <h3>El Día</h3>
        <span>La Plata, Argentina</span>
        <a href="http://www.eldia.com.ar" target="_blank">http://www.eldia.com.ar</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.eldia" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/gb/app/el-dia/id578331790?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry">
            <a id="download_eldia_blackberry" title="BlackBerry" href="http://www.vaskit.com/ota/eldia/eldia.jad" target="_blank">BlackBerry</a>
          </li>
        </ul>
      </div>
      
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/ecosdiarios.png" style="width:90px;height:90px;" alt="" />
        <h3>Ecos Diarios</h3>
        <span>Necochea, Argentina</span>
        <a href="http://www.ecosdiariosweb.com.ar" target="_blank">http://www.ecosdiarios.com</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.ecosdiarios2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/ecosdiarios/id698229626?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_ecosdiarios_blackberry" title="Pronto" href="#" target="_blank">BlackBerry</a>
          </li>
        </ul>
      </div>
      
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/pregon.png" style="width:90px;height:90px;" alt="" />
        <h3>Pregón</h3>
        <span>Jujuy, Argentina</span>
        <a href="http://www.pregon.com.ar" target="_blank">http://www.pregon.com.ar</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.pregon2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/diario-pregon/id698226193?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>
      
      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/castellanos.png" style="width:90px;height:90px;" alt="" />
        <h3>Castellanos</h3>
        <span>Rafaela, Argentina</span>
        <a href="http://www.diariocastellanos.net" target="_blank">http://www.diariocastellanos.net</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.castellanos2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/diario-castellanos/id692944482?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>

      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/lareforma.png" style="width:90px;height:90px;" alt="" />
        <h3>La Reforma</h3>
        <span>La Pampa, Argentina</span>
        <a href="http://www.diariolareforma.com.ar" target="_blank">http://www.diariolareforma.com.ar</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.lareforma2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/gb/app/la-reforma/id728636386?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>

      <div class="person one_half" style="min-width:300px;">
        <img src="/mvp_1/images/clientes/elnorte.png" style="width:90px;height:90px;" alt="" />
        <h3>El Norte</h3>
        <span>San Nicolás, Argentina</span>
        <a href="http://www.diarioelnorte.com.ar/" target="_blank">http://www.diarioelnorte.com.ar</a>
        <ul class="apps">
          <li class="android"><a title="Android phones" href="https://play.google.com/store/apps/details?id=com.diventi.elnorte2" target="_blank">Android</a></li>
          <li class="iphone"><a title="iPhone/iPod" href="https://itunes.apple.com/es/app/id739078294?mt=8" target="_blank">iPhone</a></li>
          <li class="blackberry_disabled">
            <a id="download_pregon_blackberry" title="Pronto" href="#" target="_blank">BlackBerry - Pronto</a>
          </li>
        </ul>
      </div>
      
      <div class="person one_half column_last">
      </div>

      </div>
      
    </div>
    
      
    </div>
  </div>
  
  
  <!-- End Updates -->
    